.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}

.red {
  color: red;
}

.font {
  font-family: "Adobe Arabic";
}